# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.sass-cache
~*

# Folders to ignore
.hg
.svn
.CVS
.idea

# Sublime
*.sublime-project
*.sublime-workspace
*.esproj

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
node_modules/

# CSS
public/css/main.css
