/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

div {
  /*border: solid 1px;*/
}
ul {
  list-style: none;
  word-wrap: break-word;
}

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.page {
  padding: : 10%;
  /*border: solid 1px;*/
}
.userList {
  background-color: yellow;
  width:20%;
  height: 90%;
  overflow-y: scroll;
  position: absolute;
  bottom: 10%;
  right: 0;
}
.userListTitle {
  margin-left: 2%;
  margin-top: 1%;
}
.users {
  margin-left: 2%;
  margin-top: 1%;
}
.chatPage {
  /*height: 100%;*/
  margin: 0;
  padding: 0;
  width: 100%;

  /*overflow-y: scroll;*/

  display: none;
}
.loginPage {
  /*height: 100%;*/
  margin: 0;
  padding: 0;
  width: 100%;
}

.loginTitle {
  font-size: 200%;
  margin-left: 35%;
}

.loginTitle {
  /*color: #fff;*/
  font-weight: 100;
}
.usernameInput {
  /*color: #fff;*/
  font-weight: 100;
}



/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}


/* Messages */

.chatArea {
  height: 90%;
  /*padding-bottom: 60px;*/
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.messages {
  /*height: 100%;*/
  margin: 0;
  /*overflow-y: scroll;*/
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */
.inputMessage {
  margin-left: 3%;
  margin-top: 3%;
  letter-spacing: 3px;
}

.sendButton {
  margin-left: 10%;
  margin-top: 10%;
}
.usernameInput {
  /*margin-left: 3%;*/
  /*margin-top: 3%;*/
  font-size: 200%;
  letter-spacing: 3px;
}

.userpasswordInput {
  /*margin-left: 3%;*/
  /*margin-top: 3%;*/
  font-size: 200%;
  letter-spacing: 3px;
}

.loginButton {
  /*margin-left: 10%;*/
  /*margin-top: 10%;*/

}
.chatInputRow {
  background-color: pink;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
}
