<!--templates/buttons-app-->
<table height="100%" width="100%" background-color="orange">
  <tr>
    <td colspan="3">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td align="center">
      <button
        num="1"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[1]</button>
    </td>
    <td align="center">
      <button
        num="2"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[2]</button>
    </td>
    <td align="center">
      <button
        num="3"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[3]</button>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td align="center">
      <button
        num="4"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[4]</button>
    </td>
    <td align="center">
      <button
        num="5"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[5]</button>
    </td>
    <td align="center">
      <button
        num="6"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[6]</button>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td align="center">
      <button
        num="7"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[7]</button>
    </td>
    <td align="center">
      <button
        num="8"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[8]</button>
    </td>
    <td align="center">
      <button
        num="9"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[9]</button>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td align="center"></td>
    <td align="center">
      <button
        num="0"
        class="btn btn-lg btn-primary pad-button"
        type="button"
        name="button"
      >[0]</button>
    </td>
    <td align="center"></td>
  </tr>
  <tr>
    <td colspan="3">
      &nbsp;
    </td>
  </tr>
</table>
