<div class="container-fluid login">
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="username">Email address</label>
      <input
        value="gm.overrun@gmail.com"
        type="email"
        class="username form-control"
        id="username"
        placeholder="Email"
      >
    </div>
    <div class="form-group">
      <label class="sr-only" for="password">Password</label>
      <input
        value="u235cm"
        type="password"
        class="password form-control"
        placeholder="Password"
      >
    </div>
    <div class="btnPadRight">
      <button type="button" class="btn btn-default loginButton">Sign in</button>
      <button type="button" class="btn btn-primary signUpButton">Sign up</button>
    </div>
  </form>
</div>
