<!--templates/user-list-->
<div class="well">
  <h3>Users</h3>
  <ul class="list-group">
    {{#each users}}
      {{#if this.loggedIn}}
      <li user-id="{{this._id}}" class="list-group-item user-item {{this.active}}">
        <i class="glyphicon glyphicon-user {{#if this.loggedIn}}online{{/if}}"></i> &nbsp; <strong>{{this.username}}</strong>
        {{#if this.active}}
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-default btn-xs logout-button">Log Out</button>
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></button>
          <ul class="dropdown-menu">
            <li><a href="#">Click for #Increases</a></li>
          </ul>
        </div>
        {{/if}}
      </li>

      {{/if}}
    {{/each}}
    {{#each users}}
      {{#unless this.loggedIn}}
      <li user-id="{{this._id}}" class="list-group-item user-item {{this.active}}">
        <i class="glyphicon glyphicon-user"></i> &nbsp; <strong>{{this.username}}</strong>
      </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>
