<!--templates/user-list-->
<h3>Users</h3>
<div class="list-group">
  {{#each users}}
    <div user-id="{{this._id}}" class="list-group-item user-item list-group-item-info {{this.active}}">
      {{#if this.loggedIn}}
        [ONLINE]
      {{/if}}
      {{this.username}}
      {{#if this.active}}
      <button type="button" id="logoutButton" class="btn btn-xs btn-warning pull-right logoutButton">logout</button>
      {{/if}}
    </div>
  {{/each}}
</div>
