/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: lightgreen;
}

.main {
  width: 70%;
}

.userList {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: yellow;
}

.alertBox {
  left: 40%;
  position: absolute;
  width: 30%;
}
